@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->



<div id="page-content " class="page-content">
    <div class="banner">
        <div class="jumbotron jumbotron-video text-center bg-transparent mb-0 rounded-0">
        </div>
    </div>
    <div class="container">
        <div class="row p-3 m-3">
            <div class="col-md-8 offset-1">
                <div class="row ">
                    <div class="card col-md-8  mb-3 p-0 card border-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 p-auto m-auto avatar-header" style=" overflow: hidden; width: 25px; height: 25px;  position: relative;">
                                    <img src="assets/img/logo/avatar.jpg" class="rounded-circle mr-3" height="22" alt="Avatar" loading="lazy"> <span>John youssef</span>
                                </div>
                                <div class="col-md-2 p-auto m-auto">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown float-right">
                                            <a class="nav-link  d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-mdb-toggle="dropdown" aria-expanded="false">
                                                <img src="assets/img/logo/avatar.jpg" class="rounded-circle mr-3" height="22" alt="Avatar" loading="lazy">
                                            </a>
                                            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                              <li>
                                                <a class="dropdown-item" href="#">My profile</a>
                                              </li>
                                              <li>
                                                <a class="dropdown-item" href="#">Settings</a>
                                              </li>
                                              <li>
                                                <a class="dropdown-item" href="#">Logout</a>
                                              </li>
                                            </ul> -->
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class=" text-center ">
                            <img class="card-img-top w-100" src="~/images/fruits.jpg" alt="Card image cap" width="400" height="400">

                            <div class="card-body  white-bg">
                                <div class="row  mb-2">
                                    <div class="col-1">
                                        <i class="bi bi-heart"></i>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>

                                </div>
                                <div class="row ml-2 mb-2">
                                    <p>Liked By 30</p>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12 p-0 m-0">
                                        <span style="font-weight: bold; font-size: 15px; color:;">John Youssef : </span>
                                        <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                                    </div>

                                </div>
                                <hr>
                                <div class="row ml-2 mt-2">
                                    <div class="col-8 p-0 m-0 text-left">
                                        <div class="row">
                                            <div class="col-1"><i class="fa-regular fa-comment"></i></div>
                                            <div class="col-10"><input type="text" class="form-control border-0" placeholder="Write Comment Here!"></div>
                                        </div>

                                    </div>
                                    <div class="col-4 p-0 m-0">
                                        <button class="btn btn-outline-primary" type="submit">Post</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="card col-md-8  mb-3 p-0 card border-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 p-auto m-auto avatar-header" style=" overflow: hidden; width: 25px; height: 25px;  position: relative;">
                                    <img src="assets/img/logo/avatar.jpg" class="rounded-circle mr-3" height="22" alt="Avatar" loading="lazy"> <span>John youssef</span>
                                </div>
                                <div class="col-md-2 p-auto m-auto">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown float-right">
                                            <a class="nav-link  d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-mdb-toggle="dropdown" aria-expanded="false">
                                                <img src="assets/img/logo/avatar.jpg" class="rounded-circle mr-3" height="22" alt="Avatar" loading="lazy">
                                            </a>
                                            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                              <li>
                                                <a class="dropdown-item" href="#">My profile</a>
                                              </li>
                                              <li>
                                                <a class="dropdown-item" href="#">Settings</a>
                                              </li>
                                              <li>
                                                <a class="dropdown-item" href="#">Logout</a>
                                              </li>
                                            </ul> -->
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class=" text-center ">
                            <img class="card-img-top w-100" src="assets/img/fruits.jpg" alt="Card image cap" width="400" height="400">

                            <div class="card-body  white-bg">
                                <div class="row  mb-2">
                                    <div class="col-1">
                                        <i class="bi bi-heart"></i>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>

                                </div>
                                <div class="row ml-2 mb-2">
                                    <p>Liked By 30</p>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12 p-0 m-0">
                                        <span style="font-weight: bold; font-size: 15px; color:;">John Youssef : </span>
                                        <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                                    </div>

                                </div>
                                <hr>
                                <div class="row ml-2 mt-2">
                                    <div class="col-8 p-0 m-0 text-left">
                                        <div class="row">
                                            <div class="col-1"><i class="fa-regular fa-comment"></i></div>
                                            <div class="col-10"><input type="text" class="form-control border-0" placeholder="Write Comment Here!"></div>
                                        </div>

                                    </div>
                                    <div class="col-4 p-0 m-0">
                                        <button class="btn btn-outline-primary" type="submit">Post</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card col-md-8  mb-3 p-0 card border-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 p-auto m-auto avatar-header" style=" overflow: hidden; width: 25px; height: 25px;  position: relative;">
                                    <img src="assets/img/logo/avatar.jpg" class="rounded-circle mr-3" height="22" alt="Avatar" loading="lazy"> <span>John youssef</span>
                                </div>
                                <div class="col-md-2 p-auto m-auto">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown float-right">
                                            <a class="nav-link  d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-mdb-toggle="dropdown" aria-expanded="false">
                                                <img src="assets/img/logo/avatar.jpg" class="rounded-circle mr-3" height="22" alt="Avatar" loading="lazy">
                                            </a>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class=" text-center ">
                            <img class="card-img-top w-100" src="assets/img/fruits.jpg" alt="Card image cap" width="400" height="400">

                            <div class="card-body  white-bg">
                                <div class="row  mb-2">
                                    <div class="col-1">
                                        <i class="bi bi-heart"></i>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>

                                </div>
                                <div class="row ml-2 mb-2">
                                    <p>Liked By 30</p>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-12 p-0 m-0">
                                        <span style="font-weight: bold; font-size: 15px; color:;">John Youssef : </span>
                                        <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                                    </div>

                                </div>
                                <hr>
                                <div class="row ml-2 mt-2">
                                    <div class="col-8 p-0 m-0 text-left">
                                        <div class="row">
                                            <div class="col-1"><i class="fa-regular fa-comment"></i></div>
                                            <div class="col-10"><input type="text" class="form-control border-0" placeholder="Write Comment Here!"></div>
                                        </div>

                                    </div>
                                    <div class="col-4 p-0 m-0">
                                        <button class="btn btn-outline-primary" type="submit">Post</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">

                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
    </div>



